#index {
   position:relative;
   width:100%;
   display:flex;
}

.header {
   left:380px;
   margin-top:12px;
   margin-right:150px;
   z-index:1;
   display:flex;
   position:absolute;
   width:47%;
   justify-content:space-between;
}

h1 {
   top:10px;
   font-family: 'Dosis', sans-serif;
   color:white;
   text-align:right;
   font-style: normal;
   font-weight: 300;
   font-size:62pt;
   width:65%;
   height:100%;
   letter-spacing:2px;
   position:absolute;
}

.nav {
   font-family: 'Dosis', sans-serif;
   color:white;
   font-size:18pt;
   text-shadow: 1px 1px black;
   width:115px;
}

#background-container {
   border:1px solid red;
   position:absolute;
}

img {
   width:60%;
}

body {
   background-color:black;
}

a {
   color:white;
   text-decoration:none;
}

a:hover {
   color:#f7ee3f;
}
